/* CSS estilo Matrix */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #0a0a0a;
    overflow: hidden;
    text-align: center;

    background: #4e4e4e;
}
img {
    padding: 10px;
}

h1 {
    font-size: 4rem;
    text-shadow: 0 0 10px #00ff41, 0 0 20px #00ff41;
}

#cont {
    font-size: 4rem;
    font-weight: bold;
    color: #00ff41;
    text-shadow: 0 0 5px #00ff41, 0 0 10px #00ff41;
    margin: 20px 0;
    animation: glow 1.5s infinite alternate;
}

.button-container {
    display: flex;
    gap: 20px;
}


.pill {
    padding: 10px 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    color: #000;
    transition: transform 0.2s, box-shadow 0.3s;
}

/* Píldora Roja */
.pill.red {
    background-color: #ff0000;
    box-shadow: 0 0 10px #ff0000;
}

.pill.red:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff4444;
}

/* Píldora Amarilla */
.pill.yellow {
    background-color: #3700ff;
    box-shadow: 0 0 10px #3700ff;
}

.pill.yellow:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #3700ff;
}

/* Efecto de resplandor */
@keyframes glow {
    from {
        text-shadow: 0 0 5px #00ff41, 0 0 10px #00ff41, 0 0 20px #00ff41;
    }
    to {
        text-shadow: 0 0 20px #00ff41, 0 0 40px #00ff41, 0 0 60px #00ff41;
    }
}
